accessibility==0.4.0
pyobjc-core==3.0.4
pyobjc-framework-Quartz==3.0.4
pyobjc-framework-Cocoa==3.0.4
pyobjc-framework-CoreLocation==3.0.4
pyobjc-framework-LaunchServices==3.0.4
pyobjc-framework-ScriptingBridge==3.0.4
SQLAlchemy>=1.3.0
setuptools==18.0.1_0

